name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: show free space
        run: |
            df -h

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: false

      - name: show free space
        run: |
            df -h
            touch /tmp/keepalive

      - name: Validate package
        uses: auto21011/archlinux-package-action@v2
        with:
          path: ./
          namcap: false

      #- name: Setup Debug Session
      #  uses: csexton/debugger-action@master

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: ./*.zst
